@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Martian+Mono:wght@400;500&display=swap');
// font-family: 'Exo 2', sans-serif;
// font-family: 'Martian Mono', monospace;

body{
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 350px;
    margin: auto;

    .navtext{
        text-transform: uppercase;
        color: #213887;
        font-family: 'Martian Mono', monospace;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 109%; /* 15.26px */
        letter-spacing: -0.56px;
        margin: auto;
        margin-top: 10px;
        margin-left: 20px;
    }
}

.line{
    width: 350px;
    border: none; /* Убираем стандартную горизонтальную линию */
    border-top: 1px solid  #cacfe2; /* Задаем желаемый стиль и цвет горизонтальной линии */
    margin-top: 0px;
}

.hero{
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1{
            color: #142251;
            font-family: 'Martian Mono', monospace;
            text-transform: uppercase;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 110%; /* 44px */
            letter-spacing: -1.6px;
            width: 150px;
            margin: 0px;
            padding: 0px;
            margin-left: 20px;
        }

        h3{
            color:#989EB1;
            font-family: 'Exo 2', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 100%; /* 14px */
            letter-spacing: -0.42px;
            margin: 0px;
            padding: 0px;
            margin-top: 5px;
            margin-left: 20px;
        }

        .vector-hero{
            width: 387px;
            height: 322px;
            max-width: 500px;
            max-height: 500px;
        }
        }

        .button-hero-desktop{
            display: none;
        }

        .button-hero{
            width: 350px;
            height: 60px;
            display: flex;
            background-color: #F3F6F9; /* Пример цвета фона кнопки */
            border: none;
            border-radius: 4px;
            color: #213887; /* Цвет текста */
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            border-radius: 10px;
            
            .button-hero-text {
                font-family: 'Exo 2', sans-serif;
                font-weight: 600;
                font-size: 14px;
                margin-left: 34px;
                width: 100px;
                flex-grow: 0; /* Расширяет текст на всю доступную ширину */
              }

              .button-hero-icon {
                width: 24px;
                height: 24px;
                margin-right: 34px;
                fill: #fff; /* Цвет заливки иконки */
              }
        }
}

.about{
    display: flex;
    justify-content: center;
    
    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;

        span{
            display: none;
        }

        h2{
            color: #142251;
            font-family: 'Exo 2', sans-serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 85%; /* 34px */
            letter-spacing: -1.6px; 
            margin-bottom: 0px;
            margin-left: 20px;
        }

        h4{
            color: #989EB1;
            font-family: 'Exo 2', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%; /* 14px */
            letter-spacing: -0.42px;
            margin: 0px;
            margin-left: 20px;
            margin-top: 20px;
        }

        .vector-tablo-for-mobile1{
            width: 350px;
            margin: auto;
            margin-top: 14px;
            margin-bottom: 0px;
            padding: 0px;
        }

        .p-vector-tablo-for-mobile1{
            color: #142251;
            font-family: 'Exo 2', sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 20.4px */
            letter-spacing: -0.34px;
            width: 193px;
            height: 56px;
            position: absolute;
            top: 714px;
            margin-left: 40px
        }

        .vector-tablo2{
            position: relative;
            width: 350px;
            height: 150px;
            margin: auto;
            background-color: #F3F6F9; 
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-top: 10px;
              
            .vector-palar-for-tablo2-mobile{
                width: 100px;
                margin-top: 18px;
                margin-left: 20px;
            }

            .p-vector-tablo-for-mobile2{
                color: #142251;
                font-family: 'Exo 2', sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 20.4px */
                letter-spacing: -0.34px;
                width: 193px;
                height: 56px;
                margin-left: 35px;
            }
        }

        .vector-tablo3{
            position: relative;
            width: 350px;
            height: 150px;
            margin: auto;
            background-color: #F3F6F9; 
            border-radius: 10px;
            display: flex;
            align-items: center;  
            margin-top: 20px;

            .p-vector-tablo-for-mobile3{
                color: #142251;
                font-family: 'Exo 2', sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 20.4px */
                letter-spacing: -0.34px;
                width: 193px;
                height: 56px;
                margin-left: 20px;
            }

            .vector-tablo3-svg{
                width: 115px;
                margin: 0px;
                padding: 0px;
                margin-right: 30px;
            }
        }

        .vector-tablo4{
            position: relative;
            width: 350px;
            height: 150px;
            margin: auto;
            background-color: #F3F6F9; 
            border-radius: 10px;
            display: flex;
            align-items: center;  
            margin-top: 20px;
        
            .vector-tablo4-svg{
                width: 122px;
                margin-left: 20px;
            }

            .p-vector-tablo-for-mobile4{
                color: #142251;
                font-family: 'Exo 2', sans-serif;
                font-size: 17px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%; /* 20.4px */
                letter-spacing: -0.34px;
                width: 109px;
                height: 56px;
                margin-left: 26px;
            }
        
        }

        .vector-ping{
            display: none;
        }
    }
}

.form-gen{
    display: flex;
    justify-content: center;

    .container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 35px;

        form{
            width: 350px;
            height: 372px;
            background-color: #F3F6F9;
            border-radius: 10px;
            display: flex;
            align-items: center;
            flex-direction: column;

            .theme{
                width: 300px;
                height: 35px;
                border-radius: 10px;
                border: none;
                margin: auto;
                margin-bottom: 0px;
                margin-top: 25px;
            }

            input{
                color: #989EB1;
                font-family: 'Exo 2', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 14px */
                letter-spacing: -0.42px;
                padding-left: 15px;
            }

            .button-form-gen{
                width: 318px;
                height: 38px;
                display: flex;
                background-color: #142251; /* Пример цвета фона кнопки */
                border: none;
                border-radius: 4px;
                color: #ffffff; /* Цвет текста */
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: auto;
                border-radius: 10px;
                margin-top: 15px;
                margin-bottom: 0px;
                
                .button-form-gen-text {
                    font-family: 'Exo 2', sans-serif;
                    font-weight: 600;
                    font-size: 17px;
                    margin-left: 34px;
                    width: 100px;
                    flex-grow: 1; /* Расширяет текст на всю доступную ширину */
                  }
    
                  .button-form-gen-icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 34px;
                  }

                
            }

            .text-gen-cont{
                width: 318px;
                height: 215px;
                background-color: #ffffff;
                border-radius: 10px;
                margin-top: 15px;

                .text-gen{
                                    color: #989EB1;
                font-family: 'Exo 2', sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 14px */
                letter-spacing: -0.42px;
                padding-left: 15px;
                }
            }
        
        }
    }

}

footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    .footer{
        display: flex;
        justify-content: center;

        .container{
            display: flex;
            width: 350px;
            height: 35px;
            border-radius: 100px;
            border: 1px solid #AFB4C4;

            .ico-github{
                width: 18px;
                margin-left: 13px;
            }

            .vertical-line{
                height: 35px;
                width: 1px;
                background-color: #AFB4C4;
                margin-left: 6px;
            }

            .ico-telegram{
                width: 20px;
                margin-left: 12px;
            }

            .telegram-name{
                color: #142251;
                font-family: 'Martian Mono', monospace;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 12px */
                letter-spacing: -0.36px;
                margin-left: 8px;
            }

            .email{
                color: #213887;
                font-family: 'Martian Mono', monospace;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 12px */
                letter-spacing: -0.36px;
                text-decoration-line: underline;
                margin-left: 12px;
            }
        }
    }
}

@media only screen and (min-width: 1245px)  {

    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        width: 1270px;
        margin: auto;
        padding-left: 45px;
    
        .navtext{
            margin-top: 22px;
            margin-left: 20px;
            display: flex;
            margin: auto;

            .p{
                text-transform: uppercase;
                color: #213887;
                font-family: 'Martian Mono', monospace;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 109%; /* 15.26px */
                letter-spacing: -0.56px;
                margin: auto;
            }
        }
    

    }

    .line{
        width: 100%;
        border: none; /* Убираем стандартную горизонтальную линию */
        border-top: 1px solid  #cacfe2; /* Задаем желаемый стиль и цвет горизонтальной линии */
    }

    .hero{
        display: flex;
        justify-content: center;
    
        .container{
            display: flex;
            justify-content: center;
            flex-direction: row;

            .cont-h-hero{
                margin-left: 20px;
            
                h1{
                    color: #142251;
                    font-family: 'Martian Mono', monospace;
                    text-transform: uppercase;
                    font-size: 100px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 110%; /* 44px */
                    letter-spacing: -1.6px;
                    width: 630px;
                    margin: 0px;
                    padding: 0px;
                    margin-left: 20px;
                }
        
                h3{
                    color:#989EB1;
                    font-family: 'Exo 2', sans-serif;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%; /* 14px */
                    letter-spacing: -0.42px;
                    margin: 0px;
                    padding: 0px;
                    margin-top: 5px;
                    margin-left: 30px;
                }
            }
    
            .vector-hero{
                width: 600px;
                height: 400px;
            }
            }

            .button-hero{
                display: none;
            }

            .button-hero-desktop{
                width: 300px;
                height: 60px;
                display: flex;
                background-color: #F3F6F9; /* Пример цвета фона кнопки */
                border: none;
                border-radius: 4px;
                color: #213887; /* Цвет текста */
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;
                margin-top: 30px;
                margin-left: 30px;
                
                .button-hero-desktop-text {
                    font-family: 'Exo 2', sans-serif;
                    font-weight: 500;
                    font-size: 24px;
                    margin-left: 34px;
                    width: 100px;
                    flex-grow: 0; /* Расширяет текст на всю доступную ширину */
                  }
    
                  .button-hero-desktop-icon {
                    width: 24px;
                    height: 24px;
                    margin-right: 34px;
                    fill: #fff; /* Цвет заливки иконки */
                  }
            }
    }
    
    .about{
        display: flex;
        justify-content: center;
        
        .container{
            display: flex;
            justify-content: center;
            flex-direction: column;


            .cont-h-about{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

                h2{
                    color: #142251;
                    font-family: 'Exo 2', sans-serif;
                    font-size: 80px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 85%; /* 34px */
                    letter-spacing: -1.6px; 
                    margin-bottom: 0px;
                    margin-left: 20px;
                }
        
                h4{
                    color: #989EB1;
                    font-family: 'Exo 2', sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%; /* 14px */
                    letter-spacing: -0.42px;
                    margin: 0px;
                    margin-left: 20px;
                    margin-top: 20px;
                }
            }
            
            .cont-vector-about{
                display: flex;
                position: relative;
                width: 1200px;
                height: 295px;
            

                span{
                    color: #989EB1;
                    font-family: 'Exo 2', sans-serif; 
                    display:inline;
                }

                .vector-tablo1{
                    width: 400px;
                    height: 200px;
                }

                .vector-tablo-for-mobile1{
                    width: 350px;
                    margin: auto;
                    margin-top: 14px;
                    margin-bottom: 0px;
                    padding: 0px;
                    position: absolute;
                    transform: rotate(-12deg);
                }
        
                .p-vector-tablo-for-mobile1{
                    color: #142251;
                    font-family: 'Exo 2', sans-serif;
                    font-size: 17px;
                    font-style: normal;
                    line-height: 120%; /* 20.4px */
                    letter-spacing: -0.34px;
                    width: 193px;
                    height: 56px;
                    margin-left: 40px;
                    position: absolute;
                    top: 45px;
                    transform: rotate(-12deg);
                }
        
                .vector-tablo2{
                    position: absolute;
                    width: 250px;
                    height: 274px;
                    display: inline;
                    top: 0px;
                    left: 383px;
                    background-color:transparent;
         
                    
                    .vector-palar-for-tablo2-mobile{
                        width: 200px;
                        margin: 0px;
                        padding: 0px;
                        transform: rotate(17deg);
                        margin-left: 25px;
                        margin-top: 20px;
                        opacity: 50%;
                    }
        
                    .p-vector-tablo-for-mobile2{
                        color: #142251;
                        font-family: 'Exo 2', sans-serif;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; /* 20.4px */
                        letter-spacing: -0.34px;
                        width: 193px;
                        height: 56px;
                        position: absolute;
                        top: 220px;
                        margin: 0px;
                    }
                }
        
                .vector-tablo3{
                    position: absolute;
                    width: 244px;
                    height: 259px;
                    margin: auto;
                    background-color: transparent;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    flex-direction: column;
                    left: 645px;
                }

        
                    .p-vector-tablo-for-mobile3{
                        color: #142251;
                        font-family: 'Exo 2', sans-serif;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; /* 20.4px */
                        letter-spacing: -0.34px;
                        width: 193px;
                        height: 56px;
                        margin-left: 20px;
                    }
        
                    .vector-tablo3-svg{
                        width: 250px;
                        margin: 0px;
                        padding: 0px;
                        margin-right: 30px;
                        position: absolute;
                        top: 130px;
                    }
                }
        
                .vector-tablo4{
                    position: absolute;
                    width: 285px;
                    height: 204px;
                    margin: auto;
                    background-color: transparent;
                    border-radius: 10px;
                    margin-top: 20px;
                    display: inline;
                    right: 0px;
                    right: 30px;
                    top: 40px;
                };
                
                    .vector-tablo4-svg{
                        width:250px;
                        margin-left: 20px;
                    }
        
                    .p-vector-tablo-for-mobile4{
                        color: #142251;
                        font-family: 'Exo 2', sans-serif;
                        font-size: 17px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120%; /* 20.4px */
                        letter-spacing: -0.34px;
                        width: 130px;
                        height: 56px;
                        margin-left: 26px;
                    }
                

                .vector-ping{
                    display: inline;
                    position: absolute;

                    .vector-ping-svg{
                        width: 1100px;
                        height: 140px;
                        display: inline;
                    }
                }
            }
    }

    .form-gen{
        display: flex;
        justify-content: center;
        margin-top: 35px;

        .container{
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 0px;
            height: 372px;
            width: 1200px;
    
            form{
                width: 1200px;
                height: 372px;
                background-color: #F3F6F9;
                border-radius: 10px;
                display: flex;
                align-items: center;
                flex-direction: column;
                position: absolute;
                

    
                .theme{
                    width: 862px;
                    height: 35px;
                    border-radius: 10px;
                    border: none;
                    margin: auto;
                    margin-bottom: 0px;
                    margin-top: 25px;
                }
    
                input{
                    color: #989EB1;
                    font-family: 'Exo 2', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%; /* 14px */
                    letter-spacing: -0.42px;
                    padding-left: 15px;
                }
    
                .button-form-gen{
                    width: 878px;
                    height: 38px;
                    display: flex;
                    background-color: #142251; /* Пример цвета фона кнопки */
                    border: none;
                    border-radius: 4px;
                    color: #ffffff; /* Цвет текста */
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: auto;
                    border-radius: 10px;
                    margin-top: 15px;
                    margin-bottom: 0px;
                    
                    .button-form-gen-text {
                        font-family: 'Exo 2', sans-serif;
                        font-weight: 600;
                        font-size: 17px;
                        margin-left: 34px;
                        width: 100px;
                        flex-grow: 1; /* Расширяет текст на всю доступную ширину */
                      }
        
                      .button-form-gen-icon {
                        width: 24px;
                        height: 24px;
                        margin-right: 34px;
                      }
    
                    
                }

                .text-gen-cont{
                    width: 878px;
                    height: 215px;
                    background-color: #ffffff;
                    border-radius: 10px;
                    margin-top: 15px;
    
                    .text-gen{
                                        color: #989EB1;
                    font-family: 'Exo 2', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%; /* 14px */
                    letter-spacing: -0.42px;
                    padding-left: 15px;
                    }
                }
            }
        }
    }

    footer{
        margin-top: 20px;
        display: flex;
        margin-bottom: 20px;
        width: 1200px;
    
        .footer{
            display: flex;
            justify-content: center;
    
            .container{
                display: flex;
                width: 350px;
                height: 35px;
                border-radius: 100px;
                border: 1px solid #AFB4C4;
    
                .ico-github{
                    width: 18px;
                    margin-left: 13px;
                }
    
                .vertical-line{
                    height: 35px;
                    width: 1px;
                    background-color: #AFB4C4;
                    margin-left: 6px;
                }
    
                .ico-telegram{
                    width: 20px;
                    margin-left: 12px;
                }
    
                .telegram-name{
                    color: #142251;
                    font-family: 'Martian Mono', monospace;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%; /* 12px */
                    letter-spacing: -0.36px;
                    margin-left: 8px;
                }
    
                .email{
                    color: #213887;
                    font-family: 'Martian Mono', monospace;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 100%; /* 12px */
                    letter-spacing: -0.36px;
                    text-decoration-line: underline;
                    margin-left: 12px;
                }
            }
        }
    }
}